.facultyContainer {
  display: flex;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
}
.facultyBtnsArea {
  display: flex;
  margin-top: 40px;
}
.facultyList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.facultyList li {
  list-style: none;
  background-color: #1f1f1f;
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  color: white;
  border: 1.4px solid #1f1f1f;
}
.none {
  display: block;
}
.facultyShowArea {
  width: 100%;
  margin: 40px 0px;
  display: flex;
  justify-content: center;
}
.noticeAddForm,
.materialAddForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;
}
.noticeAddtitle,
.materialAddtitle {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}
.addNoticeTitleInput,
.addmaterialTitleInput {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.noticeLabel,
.materialLabel {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: left;
  margin: 10px 0px;
}
#uploadNoticeSubmitBtn,
#uploadMaterialSubmitBtn {
  background-color: #1f1f1f;
  border: none;
  padding: 10px;
  margin-top: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  display: flex;
}
.inputSub {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 80px;
}
#inputSub {
  margin: 0px !important;
  width: 100% !important;
  padding: 10px;
  font-size: 14px;
}
.studentListViewFaculty {
  background-color: white;
  padding: 20px;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;
}
.selectBranch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
select {
  padding: 8px;
  font-size: 14px;
}
.studentBranchShowTitle {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-size: 22px;
  margin-bottom: 20px;
}
.studentListShowCard {
  background-color: white;
  display: grid;
  grid-template-columns: auto repeat(4, 1fr);
  padding: 10px;
  border-bottom: 1.4px solid #1f1f1f;
}
.studentListShowName {
  grid-column: 3 / span 2;
}
.studentListShowCard:nth-child(odd) {
  background-color: #cbcbcb80;
}
.studentlistViewProfile {
  height: 60px !important;
  width: 60px !important;
  object-fit: cover !important;
  margin: 0px !important;
  border-radius: 10%;
  margin-right: 20px !important;
}
.studentListShowEnrollment,
.studentListShowName,
.studentListShowPhoneNo {
  display: grid;
  place-items: center start;
}
@media only screen and (max-width: 700px) {
  .addNoticeTitleInput,
  .addmaterialTitleInput {
    width: 90%;
  }
  .noticeAddForm input {
    width: 100%;
  }
  .noticeAddtitle,
  .materialAddtitle {
    font-size: 18px;
  }
  .facultyShowArea {
    width: 80%;
  }
  .noticeLabel,
  .materialLabel {
    font-size: 12px;
  }
}
