.navMain {
  background-color: whitesmoke;
  padding: 15px;
  -webkit-box-shadow: 0px 10px 40px -11px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 10px 40px -11px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 10px 40px -11px rgba(0, 0, 0, 0.4);
}
.navTitle {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 600;
}
