.studentContainer {
  display: flex;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
}
.studentBtnsArea {
  display: flex;
  margin-top: 40px;
}
.studentList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.studentList li {
  list-style: none;
  background-color: #1f1f1f;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  color: white;
}
.studentList li:hover {
  background-color: black;
  transition: 0.8s;
}
.studentView {
  margin: 40px 0px;
  background-color: white;
  width: 85%;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.disable {
  display: none !important;
}
.notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
table {
  border-collapse: collapse;
}
th,
tr,
td {
  border: 1.4px solid #1f1f1f;
  padding: 10px 10px;
  text-align: center;
}
.viewNotice,
.viewMaterial {
  color: black;
  background-color: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 6px;
  border: none;
  font-size: 14px;
  text-decoration: none;
}
.tableHead {
  font-size: 16px;
  font-weight: 700;
  background-color: #c7c7c7;
  text-transform: uppercase;
  padding: 10px 30px;
  letter-spacing: 2px;
}
#noticeTitle {
  width: 100%;
}
.timetableShowArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timetableShowArea img {
  width: 100%;
}
#downTimeTable {
  background-color: #1f1f1f;
  border: none;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.marksShow {
  padding: 10px;
}
@media only screen and (max-width: 700px) {
  .studentList li {
    width: 150px;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead,
  th {
    display: none;
  }
  tr {
    border: none;
  }
}
