.mainCard {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 85%;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
img {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}
.infoSec {
  width: 100%;
  margin: 10px;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
}
.infoText {
  font-weight: 500;
  margin: 10px 0px;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.cardDataIcons {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.fname {
  grid-column: 1 / span 2;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 26px !important;
  margin-bottom: 20px;
}
#email {
  text-transform: none !important;
}
.inputSub {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 80px;
}
#inputSub {
  margin: 0px !important;
  width: 100% !important;
  padding: 10px;
  font-size: 14px;
}
#noticesTable,
#materialTitle {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .infoSec {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(6, 40px);
  }
  .mainCard {
    flex-direction: column;
    width: 90%;
    padding: 10px;
  }
  .infoText {
    font-size: 14px;
  }
  .fname {
    grid-column: 1;
    text-align: center;
    font-size: 20px !important;
  }
  #profilePic {
    height: 150px;
    object-fit: cover;
  }
}
