.studentContainer {
  display: flex;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
}
.studentBtnsArea {
  display: flex;
  margin-top: 40px;
}
.studentList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.studentList li {
  list-style: none;
  background-color: #1f1f1f;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  color: white;
}
.studentList li:hover {
  background-color: black;
  transition: 0.8s;
}
.studentView {
  margin: 10px 0px;
  width: 85%;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.disable {
  display: none !important;
}
.notice {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.timetableShowArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timetableShowArea img {
  width: 100%;
}
#downTimeTable {
  background-color: #1f1f1f;
  border: none;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.noticeCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.noticeCard {
  background-color: white;
  margin: 10px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  padding: 6px;
  width: 90%;
}
.noticeTitle {
  grid-area: 1 /2 / 2 / 3;
  text-align: left;
  display: inline-block;
  width: 90%;
  padding: 8px;
}
.noticeTime {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 194, 194);
  padding: 8px;
  border-radius: 4px;
}
.noticeViewButton {
  background-color: rgb(194, 194, 194);
  padding: 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.openLinkNoticeIcon {
  margin: 0px 6px;
}
.noticeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
@media only screen and (max-width: 700px) {
  .studentList li {
    width: 150px;
  }
  .noticeCard {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: 100px 1fr 1fr 100px;
  }
  .noticeTitle {
    padding-bottom: 5px;
  }
}
